<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title> New Quote Request </title>
	<style>
		body {
			font-size: 1em;
			font-weight: 500;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			letter-spacing: 0.025rem;
			color: #000022;
			background-color: #F0EFF4;
		}

		.font-bold {
			font-weight: 800;
		}

		.container {
			margin: 25px;
			padding: 15px;
		}

		.message-box p#main-text span#user-request {
			margin: 2rem;
			padding: 2rem;
		}
	</style>
</head>

<body>
	<div id="body-container" class="container">
		<div id="preheader-container" class="preheader-container">
			<div id="preheader" class="preheader">
				<p id="preheader-text">
					A preheader is a short summary text that follows the subject line when an email is viewed in the
					inbox.
				</p>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<div id="main-container" class="message-container">
			<div id="message" class="message-box">
				<p id="main-text">
					Hello Mr. Ishpreet Singh, <br><br>
					An anonymous user requests to add the following quote into your database.<br><br><br><br>
					<em style="font-weight: 800"> Quote Details: </em><br/><br/>	
					<span id="user-request" class="font-bold">
						adafsdfasfdsadfsda f sdf sdfdsfd df dfd<br/>
						adafsdfasfdsadfsda f sdf sdfdsfd df dfd<br/>
						adafsdfasfdsadfsda f sdf sdfdsfd df dfd<br/>
						adafsdfasfdsadfsda f sdf sdfdsfd df dfd<br/>
						adafsdfasfdsadfsda f sdf sdfdsfd df dfd<br/>
					</span>
				</p>
			</div>
		</div>
	</div>
</body>

</html>